# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
conda/

# Jupyter
.ipynb_checkpoints/

# Medical data (never commit)
data/
*.mhd
*.raw

# Model artifacts
*.pt
*.pth
*.ckpt

# OS
.DS_Store
